<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/test/">На главную</a>
    <br>
    <form action="/test/totalSum" method="post" enctype="multipart/form-data">
        <label for="f-date">Введите дату: </label>
        <input type="date" name="date" id="f-date" required>
        <input type="submit" value="Отправить">
    </form>
    <p th:if="${totalSum != null and date != null}">Общая сумма покупок за
        <!--/*@thymesVar id="date" type="java.lang.String"*/-->
    <span th:with="dt=${date}" th:text="${dt}"></span>
        =
        <!--/*@thymesVar id="totalSum" type="java.lang.String"*/-->
    <span th:with="ts=${totalSum}" th:text="${ts}"></span>
    </p>
</body>
</html>